<!DOCTYPE html>
<html>
  <head>
    <title>AnyLogin Dummy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body role="document">
    <%= render '/shared/header' %>
    <div class="container theme-showcase" role="main">
      <%= yield %>
    </div>
    <%= render '/shared/footer' %>
  </body>
</html>