<div class="container">
  <br/>
  <br/>
  <br/>
  <hr/>

  <%= link_to 'Home', root_path %> |
  <% if logged_in?  %>
    <%= link_to 'Sign out', '#', method: :delete, data: { confirm: "Are you sure you want to sign out?" } %>
  <% else %>
    <%= link_to 'Sign up', '#' %> |
    <%= link_to 'Sign in', '#' %>
  <% end %>

  <%= any_login_here %>
</div>
