<% case AnyLogin.asset_source
   when :sprockets %>
  <%= javascript_include_tag "any_login/application.js", async: true, data: {'turbo-track': 'reload'} %>
  <%= stylesheet_link_tag "any_login/application.css", media: :all, data: {'turbo-track': 'reload'} %>
<% when :webpacker %>
  <%= stylesheet_pack_tag "any_login", data: {'turbo-track': 'reload'} %>
  <%= javascript_pack_tag "any_login", async: true, data: {'turbo-track': 'reload'} %>
<% else
     raise "Unknown asset_source: #{RailsAdmin::config.asset_source}"
   end %>

<div id='any_login' class='<%= any_login_klasses %>'>
  <%= form_tag any_login.sign_in_path, :method => :post, :id => 'any_login_form' do %>
    <label for="any_login_form_toggle">
      <%= render 'any_login/svg/user', :title => AnyLogin.klass %>
    </label>
    <input type="checkbox" id="any_login_form_toggle" <%= AnyLogin.auto_show ? "checked" : "" %>>
    <span id='any_login_box'>
      <%= any_login_select %>
      or by
      <%= any_login_id_input %>
      <%= any_login_submit %>
      <span id='current_user_information'><%= current_user_information %></span>
      <%= any_login_previous_select %>
    </span>
  <% end %>
</div>
